.print-read {
    display: flex;
    align-items: center; justify-content: space-between
}

.print-user {
    color: #777; font-size: 13px
}
.print-subject {
    margin: 0; font-size: 18px; width: 100%
}
.print-body {
    display: flex; justify-content: space-between; font-size: 13px
}
.print-files {
    border-top: 1px solid #000000; padding-top: 10px
}
.print-file-size {
    font-size: 14px
}
.print-file-type {
    margin-right: 10px;
    font-size: 11px;
    font-weight: 600;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    display: flex;
    background: #ea3d3d;
    color: #fff;
}
.print-no-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;

}
.print-msg {
    flex: 1; background: #c3d9ff; margin-left: 20px
}
.w-100 {
    width: 100%;
}
.d-flex {
    display: flex;
}
.ml-10 {
    margin-left: 10px
}
.mb-10 {
    margin-bottom: 10px
}