$themes: (
  light: (
    backgroundColor: #F8FAFF,
    fontColor: #445576,
    panelBackground: #FFF,
    panelGradient: #FFF,
    borderColor: #E2E9F9,
    scondaryBorderColor: #E2E9F9,
    primaryBackground: #32415E,
    sidebarHeadShadow: $mainShadow,
    cardShadowHover: $hoverShadow,
    cardBackgroundHover: none,
    menuItemActive: #F8FAFF,
    tagSecondaryBackground: #F1F5FF,
    tagSecondayColor: #445576,
    tagPrimaryThemableBackground: #32415E,
    emailListBackground: #f1f5ff,
    emailCardBackground: #FFF,
    emailCardBackgroundSelected: #FFF,
    emailCardSelectedBorder: 1px solid #22aae2,
    emailCardSelectedBorderLeft: 5px solid #22aae2,
    emailCardSelectedFontColor: #445576,
    emailCardHoverBackground: #FFF,
    metricSelectCollapseHover: #F1F5FF
  ),
  dark: (
    backgroundColor: #445576,
    fontColor: #FFF,
    panelBackground: #32415E,
    panelGradient: linear-gradient(to bottom, $gradient4 0%, $backgroundColorDark 100%),
    borderColor: #7D9BC3,
    scondaryBorderColor: #32415E,
    primaryBackground: linear-gradient(to right, $gradient1 0%, $gradient2 100%),
    sidebarHeadShadow: none,
    cardShadowHover: none,
    cardBackgroundHover: $whiteColorTransparent,
    menuItemActive: $whiteColorTransparent,
    tagSecondaryBackground: #E2E9F9,
    tagSecondayColor: #445576,
    tagPrimaryThemableBackground: linear-gradient(to right, $gradient1 0%, $gradient2 100%),
    emailListBackground: #32415e,
    emailCardBackground: rgba(255, 255, 255, 0.05),
    emailCardBackgroundSelected: #FFF,
    emailCardSelectedBorder: 1px solid rgba(255, 255, 255, 0.05),
    emailCardSelectedBorderLeft: none,
    emailCardSelectedFontColor: #445576,
    emailCardHoverBackground: rgba(255, 255, 255, 0.1),
    metricSelectCollapseHover: rgba(255, 255, 255, 0.05)
  ),
);